<h1>Listing messages</h1>
 
<%= link_to 'New message', new_message_path %>
<br>
<br>
<table>
  <tr>
    <th align="center">Minutes&nbsp;&nbsp;&nbsp;</th>
    <th align="center">&nbsp;&nbsp;&nbsp;Reason&nbsp;&nbsp;&nbsp;</th>
    <th align="center">&nbsp;&nbsp;&nbsp;From&nbsp;&nbsp;&nbsp;</th>
    <th colspan="3"></th>
    <th colspan="2"></th>
  </tr>
 
  <% @messages.each do |message| %>
    <tr>
      <td align="left"><%= message.minutes %></td>
      <td align="center"><%= message.reason %></td>
      <td align="center"><%= message.from %></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td align="center"><%= link_to 'Show', message_path(message) %></td>
      <td align="center"><%= link_to 'Destroy', message_path(message),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
